<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rocket Demo</title>
</head>
<body>
  <h1>Rocket CMS Demo</h1>
  <div class="container">
    {% for photo in photos %}
      <div>
        <img src="badsrc.png" alt="{{ photo.alt_text }}">
        <p>({{ photo.uploaded_at }}) - {{ photo.caption }}</p>
      </div>
    {% endfor %}
  </div>
</body>
</html>