<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rocket Demo</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>Rocket CMS Demo</h1>
<div class="container">
    {% for item in content %}{% for file in item.1 %}
    <div>
        <a href="/{{ item.0.id }}">
            <img src="{{ file.file_uri }}" alt="{{ item.0.alt_text }}" width="400">
        </a>
        <h4><a href="/{{ item.0.id }}">{{ item.0.alt_text }}</a></h4>
        <p>{{ item.0.caption }} ({{ file.file_size }} kB)
            <form method="post" action="/delete/{{item.0.id}}" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
                <input type="submit" value="Delete">
            </form>
        </p>
    </div>
    {% endfor %}{% endfor %}
</div>
</body>
</html>